<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.test.mapper.AppCategoriesMapper">

    <resultMap id="BaseResultMap" type="org.javaboy.test.model.AppCategories">
            <result column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="icon" property="icon" jdbcType="VARCHAR" />
            <result column="type" property="type" jdbcType="INTEGER" />
            <result column="url" property="url" jdbcType="VARCHAR" />
            <result column="state" property="state" jdbcType="INTEGER" />
            <result column="weight" property="weight" jdbcType="INTEGER" />
            <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
            <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
            <result column="last_update" property="lastUpdate" jdbcType="VARCHAR" />
            <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getAllAppCategoriess" resultMap="BaseResultMap">
        select * from app_categories;
    </select>
</mapper>